@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 110vh;
  background:url('../Images/fixbg.jpg');
}
.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background:url('../Images/Contact_banner.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}
.popup img{
  width: 96%;
  height: auto;

}
 .popup {
            display: none; /* Initially hidden */
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border: 2px solid #139647;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 10px;
            z-index: 1000;
            width: 96%;
            max-width: 400px;
            margin-top: 16%;
        }
  .close {
            display: none; /* Initially hidden */
            position: absolute;
            top: -20px;
            right: -20px;
            cursor: pointer;
            font-size: 36px; /* Make it bolder */
            color: #aaa;
            background-color: white;
            border: 3px solid #aaa; /* Bold circle */
            border-radius: 50%;
            width: 40px; /* Size of circle */
            height: 40px; /* Size of circle */
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
        }
.close:hover {
            color: #00008B;
            border-color: #139647; /* Darker on hover */
            font-size: 42px;
            font-weight: bolder;
        }

@media only screen and (max-width: 475px){
  .popup {
  width: 93%;
  padding: 10px;
  margin-top: 50%;
  transition:0.5s;
 }
}
@media only screen and (max-width: 1024px){
  .popup {
  width: 93%;
  padding: 10px;
  margin-top: 50%;
  transition:0.5s;
 }
}
.section-main h1{
  width: 100%;
  height: 50%;
  padding-top: 18%;
  text-align: center;
  color: #139647!important;
  font-size: 110px;
  text-shadow: #fff 3px 3px 0px;
  animation-delay: 0.6s;
  font-weight: 2rem;
  font-family: 'Poppins';
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 42px;
  z-index: 999;
  transition: 0.6s;
  font-family: 'Roboto', sans-serif;
}

header.sticky {
  background-color: #fff;
  padding: 0px 27px;
}

header.sticky a {
  color: #000 !important;
}

header.sticky a:hover {
  color: #00008B !important;
  background: #fff;
  font-weight: 600;
}

header .brand img {
  height: 80px;
}
header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  padding: 12px 12px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: 0.3s;
}

header .menu a:hover {
  color: #00008B;
  background: #fff;
}

/* Dropdown Styles */
header .menu .dropdown {
  position: relative; /* Required for absolute positioning of dropdown */
}

header .menu .dropdown-content {
  display: none; /* Initially hide dropdown */
  position: absolute; /* Position relative to parent */
  background-color: #fff;
  opacity: 10px; /* Dropdown background */
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
  z-index: 1; /* Stack above other content */
}

header .menu .dropdown:hover .dropdown-content {
  display: block; 
  border-radius: 18px;/* Show dropdown on hover */
}
header .menu .dropdown .dropdown-content a{
  color: #00008B;
}
header .menu .dropdown .dropdown-content a:hover {
  color: #139647!important;
}
header .menu .dropdown a {
  display: flex; /* Align text and icon */
  align-items: center; /* Center vertically */

}

header .menu .dropdown a i {
  margin-left: 5px; /* Space between text and icon */
  transition: transform 0.3s; /* Transition for arrow icon */
}

header .menu .dropdown:hover a i {
  transform: translateY(9px); /* Move down slightly on hover */
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  display: none;
}

header .btn:hover {
  color: #000;
  }


.heading{
  padding: 45px 0px;
  text-align: center;
  color: #139647!important;
  font-size:45px;
  font-family: 'Poppins';
}
.form{
  margin-left: 25%;
  margin-right: auto;
}
.form_1{
    margin:0px;
    display:none;
}
.main{
  max-width: 1200px;
  margin: 15px auto;
}
.card_content a{
  text-decoration: none;
  color: #fff;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.cards_item {
  display: flex;
  padding: 2rem;
}
.cards_item:hover{
  transform: translateY(-42px);
  transition:.3s ease;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 30px;
}
.card_logo {
  color: #00008B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}
.card_title_1 {
  color: #139647!important;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-top: 15px;
  text-align: center;
  font-family: 'Poppins';
}
.card_title_2 {
  color: #00008B!important;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-left: 12px;
  margin-top: 6px;
  font-family: 'Poppins';
}
.card_text {
  height: 270px;
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  margin-top: 10px;    
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-family: 'Roboto';
}
.google-map{
  position: relative;
  padding-bottom: 42%;
  height: 0;
  overflow: hidden;
}
.google-map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%!important;
}

/******Footer Starts******/
.border-shape {
background: #fff none repeat scroll 0 0;
color: #fff;
display: block;
height: 3px;
left: 0;
margin: 20px auto;
position: relative;
right: 0;
text-align: center;
top: 0;
width: 80px;
}

.border-shape::before {
background: #fff none repeat scroll 0 0;
bottom: 0;
content: "";
height: 1px;
left: 80px;
margin: 0 auto;
position: absolute;
text-align: center;
top: 1px;
width: 100px;
}

.border-shape::after {
background: #fff none repeat scroll 0 0;
bottom: 0;
content: "";
height: 1px;
margin: 0 auto;
position: absolute;
right: 80px;
text-align: center;
top: 1px;
width: 100px;
}

/*******Scroll Btn Starts********/
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 110px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:#d35400; 
  color: white; 
  cursor: pointer; 
  padding: 9px; 
  border-radius: 180px; 
  font-size: 9px; 
  font-weight: bolder;
  box-shadow: 2px 2px 3px #999;
  height: 45px;
  width: 45px;
}

#myBtn:hover {
  background-color: #fff; 
  color: #d35400!important;
  font-weight: bolder!important;
  outline: 2px solid #d35400;
}

#myBtn span{
  font-size: px;
  font-weight: bolder;
}

.float{
  position:fixed;
  width:45px;
  height:45px;
  bottom:60px;
  right:30px;
  background-color:#d35400;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
  
}

.my-float{
  margin-top: 9px;
  margin-bottom:9px;
}
.float:hover{
  background-color: #fff; 
  color: #d35400!important;
  font-weight: bolder!important;
  outline: 2px solid #d35400;
}
/*******Scroll Btn Ends********/


/*FOOTER*/
footer{
margin-top: 30px;
width:100%;
background: #139647!important;
}

.top_header{
padding:2rem;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.top_header section{
display:flex;
align-items:center;
justify-content:center;
width:100%;
}

.top_header span{
  padding:0 1rem;
  color:#fff;
  font-size:18px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
.top_header p{
  margin-top: 42px;
  color:#fff;
  font-size:18px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
.top_header .fa{
color:#fff;
font-size:42px;
align-item:centre;
transition: 0.1s;
}
.top_header .fa:hover{
font-size:54px;
align-item:centre;
}
footer .border-shape {
width: 80%;
}

footer .border-shape::before {
width: 100%;
left:120px;
}

footer .border-shape::after {
width: 100%;
right:120px;
}

footer .bottom_content section{
width: 100%;
padding:1.5rem 2rem;
display:flex;
align-items:center;
justify-content:Center;
}
.bottom_content a{
margin:0 33px;
color:#fff;
transition:0.5s;
font-size:36px;
font-family: 'Roboto',sans-serif;
}
.bottom_content a:hover{
color:#fff;
font-weight:bold;
}
.quick_links a{
text-decoration: none!important;
margin:0 36px;
color:#fff;
transition:0.5s;
font-size:18px;
font-weight: 400;
font-family: 'Roboto',sans-serif;
}
.copyright{
padding:0.8em 0;
background-color:#1e1e1e;
text-align:center;
color:rgba(255,255,255,0.7);
font-size:15px;
font-family: 'Roboto',sans-serif;
}
.copyright a{
  color: #fff;
}
.copyright :hover{
  color: #fff;
}

@media (max-width:580px){
.top_header{
padding:1rem;
display:block;
}

.top_header section{
margin:40px 0;
align-items:left;
justify-content:left;
}
footer .bottom_content section{
padding:1rem;
display:block;
}
footer .bottom_content section a{
padding:1rem;
font-size:12px;
padding-left: auto;
padding-right: auto;
display:inline-block;
}
}

/******Footer Ends******/


/**** MEDIA QUERY Animation starts ***/
.anim{
  opacity: 0;
  transform: translateY(54px);
  animation: moveup 0.9s linear forwards;
 }
 @keyframes moveup{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
 }

/**** MEDIA QUERY Animation ends ***/



/**** MEDIA QUERY - 1024 px Starts ***/

@media only screen and  (max-width: 1024px) {
    
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    
}
  header .btn{
    display: block;
  }

  header .menu.active{
    right: 0;
  }

  header .menu{
    position: fixed;
    background: #139647!important;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition-property: right;
    transition: 0.5s;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 16px;
    margin: 20px;
    padding: 12px 18px;
    color: #fff;
  }
  header .menu .dropdown .dropdown-content a {
  display: flex; /* Align text and icon */
  align-items: center; /* Center vertically */
  color: #00008B;
}
header .menu .dropdown .dropdown-content a:hover {
  display: flex; /* Align text and icon */
  align-items: center; /* Center vertically */
  color: #139647!important;
}

.section-main h2{
  padding-top: 24%;
  text-align: center;
  color: #00008B!important;
  font-size: 40px;
  font-weight: 2;
  text-shadow: #fff 2px 2px 0px;
  transition: linear 0.5s;
  animation-delay: 0.6s;
}
.section-main h1{
  padding-top: 1%;
  text-align: center;
  color: #139647!important;
  font-size: 100px;
  text-shadow: #fff 3px 3px 0px;
  animation-delay: 0.6s;
  font-weight: 2;
  transition: linear 0.5s;
}
.brand{
  min-height: auto;
}
.fa-bars {
  color: #00008B;
  text-shadow: #fff 2px 2px 0px;
}
.section-main{
  position: relative;
  width: 100%;
  min-height: 90vh;
  background:url('../Images/Contact_banner.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  align-items: center;
}

}

/**** MEDIA QUERY - 1024 px Ends***/



/**** MEDIA QUERY - 475 px Starts ***/

@media only screen and (max-width: 475px){
  html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
  header .btn{
    display: block;
  }

  header .menu.active{
    right: 0;
  }

  header .menu{
    position: fixed;
    background: #139647!important;
    flex-direction: column;
    width:250px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition-property: right;
    transition: 0.5s;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 16px;
    margin: 20px;
    padding: 12px 18px;
    color: #fff;
  }
  header .menu .dropdown .dropdown-content a {
  display: flex; /* Align text and icon */
  align-items: center; /* Center vertically */
  color: #00008B;
}
header .menu .dropdown .dropdown-content a:hover {
  display: flex; /* Align text and icon */
  align-items: center; /* Center vertically */
  color: #139647!important;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px;
  z-index: 999;
  transition: 0.6s;
  font-family: 'Roboto',sans-serif;
  background: #fff;
  object-fit: cover;
}

header.sticky{
  background-color: #fff;
}

.section-main h1{
    font-size: 50px;
    line-height: 60px;
    overflow: hidden;
}
.section-main h1{
  width: 100%;
  height: 100%;
  padding-top: 50%;
  text-align: center;
  color: #139647!important;
  font-size: 42px;
  text-shadow: #fff 3px 3px 0px;
  animation-delay: 0.6s;
  font-weight: 2;
  transition: linear 0.5s;
  font-weight:bolder;
}
header .brand img{
  width: auto;
  height: 54px;
}
.heading{
  padding: 45px 0px;
  text-align: center;
  color: #139647!important;
  font-size:27px;
  font-family: 'Poppins';
}
.section-main{
  position: relative;
  width: 100%;
  min-height: 54vh;
  background:url('../Images/Contact_banner.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin-top: 54px;
}
.top_header .fa{
color:#fff;
font-size:42px;
align-item:centre;
}
.fa-bars {
  color: #00008B;
  text-shadow: #fff 2px 2px 0px;
}
.top_header p{
    color:#fff;
    margin-left:27px;
}
footer .bottom_content section{
width: 100%;
padding:1.5rem 1rem;
display:flex;
align-items:center;
justify-content:Center;
}
footer .bottom_content section{
padding:1rem;
display:flex;
}
.bottom_content a{
margin:0 27px;
color:#fff;
transition:0.5s;
font-size:36px;
font-family: 'Roboto',sans-serif;
}
.quick_links a{
text-decoration: none!important;
margin: 0px 0px;
color:#fff;
transition:0.5s;
font-size:15px;
font-weight: 400;
font-family: 'Roboto',sans-serif;
text-align: center;
}

.card {
  width: 300px;
  height: 312px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 30px;
}
.card_logo {
  color: #00008B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}
.card_title_1 {
  color: #139647!important;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 15px;
  text-align: center;
}
.card_text {
  height: 270px;
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 80px;
  margin-top: 10px;    
  font-weight: 400;
  text-align: center;
}
.top_header p{
    color:#fff;
    margin-left:27px;
}
.quick_links a{
    font-size:21px;
}
.copyright{
padding:0.8em 54px;
background-color:#1e1e1e;
text-align:center;
color:rgba(255,255,255,0.7);
font-size:15px;
font-family: 'Roboto',sans-serif;
word-spacing: 1px;
}
.copyright a{
    font-size:20px;
}
/*******Scroll Btn Starts********/
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 110px; 
  right: 21px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:#d35400; 
  color: white; 
  cursor: pointer; 
  padding: 9px; 
  border-radius: 180px; 
  font-size: 9px; 
  font-weight: bolder;
  box-shadow: 2px 2px 3px #999;
  height: 45px;
  width: 45px;
}

#myBtn:hover {
  background-color: #fff; 
  color: #d35400!important;
  font-weight: bolder!important;
  outline: 2px solid #d35400;
}

#myBtn span{
  font-size: px;
  font-weight: bolder;
}

.float{
  position:fixed;
  width:45px;
  height:45px;
  bottom:60px;
  right:21px;
  background-color:#d35400;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover{
  background-color: #fff; 
  color: #d35400!important;
  font-weight: bolder!important;
  outline: 2px solid #d35400;
}
.form{
margin:0px;
display:none;
}
.form_1{
    margin:0px;
    display:block;
}
}

/**** MEDIA QUERY - 475 px Ends***/
















